.main {
  max-height: 100vh;
  overflow-y: auto;
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 20px;
}

.home {
  overflow: hidden;
}

h1.titulo_home{
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 26px;
}

h3.no_favoritos {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 12px;
}

span.MuiChip-label {
  padding: 0
}

// Search

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 2px solid #ededed;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  color: #9DBFAF;
  background: #ededed;
  font-size: 15px;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #ededed;
  background: #ededed;
  text-align: center;
  color: #000;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  font-size: 15px;
}

.iconSearch {
  width: 18px;
  margin-top: 5px;
}

/*Resize the wrap to see the search bar change!*/