.main {
  max-height: 100vh;
  overflow-y: auto;
  font-size: 1.6rem;
  line-height: 1.6;
}

.home {
  overflow: hidden;
}

h1.titulo_home{
  margin-top: 20px;
  margin-left: 7px;
  margin-bottom: 0px;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 26px;
}

h3.no_favoritos {
  margin-top: 20px;
  margin-left: 7px;
  margin-bottom: 0px;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 12px;
}
