.music-player-box {
  grid-column: 1 / -1;
}

.music-player {
  --icon-size: 1.8rem;
  box-shadow: 0 0 10rem rgba(#000, 0.2);
  background-color: var(--bgcolor-music-player);
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  gap: 4rem;
  padding: 5rem;
  align-items: center;

  &-icon {
    fill: var(--color-text);
    width: var(--icon-size);
    height: var(--icon-size);
    display: block;

    &--toggle-play {
      width: calc(var(--icon-size) * 2);
      height: calc(var(--icon-size) * 2);
    }
  }
}
