.sidebar {
  box-shadow: 0 1px 10px rgba(#333, 0.1);

  padding: 10rem 3rem;
  overflow-y: hidden;
  background-color: var(--bgcolor-sidebar);
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-bold);

  &-title,
  &-heading {
    color: var(--color-text);
    text-transform: uppercase;
    padding-bottom: 1rem;
  }

  &-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    letter-spacing: 0.2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &-heading {
    font-size: 1.5rem;
    color: var(--color-gray-2);
  }

  &:hover {
    overflow-y: auto;
  }

  &-nav {
    display: flex;
    list-style: none;
    font-size: 2rem;
    flex-direction: column;
    margin-bottom: 4rem;
  }

  &-item {
    width: 100%;
  }

  &-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem 0;
    color: var(--color-text);
    min-width: 50%;
    transition: all 0.2s;
    border-radius: var(--border-radius);
    outline: none;

    &--active,
    &:hover,
    &:focus {
      --color-text: var(--color-primary);
      background-color: var(--color-primary-bg);
    }
  }

  &-icon {
    --icon-size: 2.2rem;
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--color-text);
    display: block;
    margin-right: 1.3rem;
  }
}
