.sidebar {
  --nav-text-color: #333;

  box-shadow: 0 1px 10px rgba(var(--nav-text-color), 1);

  padding: 10rem 3rem;
  overflow-y: hidden;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-bold);

  &-title,
  &-heading {
    color: var(--nav-text-color);
    text-transform: uppercase;
    padding-bottom: 1rem;
  }

  &-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    letter-spacing: 0.2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &-heading {
    font-size: 1.5rem;
    color: #777;
  }

  &:hover {
    overflow-y: auto;
  }

  &-nav {
    width: 100%;
    display: flex;
    list-style: none;
    font-size: 2rem;
    flex-direction: column;
    margin-bottom: 4rem;
    width: 70%;
    align-self: flex-end;
  }

  &-item {
    width: 100%;
  }

  &-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem 0;
    color: var(--nav-text-color);
    min-width: 50%;

    &--active,
    &:hover {
      --nav-text-color: #ba0f22;
      background-color: #eec3c8;
    }
  }

  &-icon svg {
    --icon-size: 2.2rem;
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--nav-text-color);
    display: block;
    margin-right: 1.3rem;
  }
}
