.artists {
  padding: 2rem;
  overflow: hidden;
}

.generoArtistas {
  margin-bottom: 10px;
}

// .albumsRecents {
//   display: grid;
//   grid-template-rows: repeat(2, 50%);
//   grid-auto-flow: column;
// }
