.AlbumSong {
  display: flex;
  font-size: 1.9rem;
  color: var(--color-text);
  padding: 1.5rem 1rem;
  border-bottom: 1px solid var(--color-gray-1);

  &-heading {
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-2);
  }

  &-index {
    width: 2rem;
    display: block;
    text-align: center;
  }

  &-title {
    margin-left: 3rem;
    margin-right: auto;
  }

  &-length {
    width: 10rem;
    text-align: center;
  }
}
