.button {
  @extend .input;
  cursor: pointer;
  border: none;

  &--primary {
    color: var(--color-text-light);
    font-weight: var(--font-weight-bold);
    background-color: var(--color-primary);
  }
}
